body {
  font-family: 'DM Sans', sans-serif;
}

div, p {
    margin: 20px;
}

#file-input {
    display: none;
}

#original-image,
#filtered-image {
    max-height: 100vh;
    max-width: calc(50vw - 20px);
}